.nav {
    height: 80vh;
}

.nav__list {
    height: 80vh;
    border-right: 1px solid black;
}

.nav__link--active {
    background-color: #0D6EFD;
    color: white;
}

.nav__link:active,
.nav__link:hover {
    color: white;
    background-color: #0D6EFD
}